#maincontent
	background-color: #ecf0f1;

nav,
.filter-options,
#restaurants-list,
#reviews-container #reviews-list
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-items: center;
	justify-content: center;

#restaurant-cuisine,
#restaurant-hours,
#restaurant-container,
#breadcrumb,
#reviews-container,
#restaurant-img
	width: 100%;
	margin-left: auto;
	margin-right: auto;

picture
	max-width: 100%;
	display: block;
	min-height: auto;
