html,
body,
#maincontent
	min-height: 100vh;

nav,
.filter-options,
#restaurants-list,
#reviews-container #reviews-list
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-items: center;
	justify-content: center;

#restaurant-cuisine,
#restaurant-hours,
#restaurant-container,
#breadcrumb,
#reviews-container,
#restaurant-img
	width: 100%;
	margin-left: auto;
	margin-right: auto;

picture
	display: block;
	object-position: center top;
	object-fit: cover;
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;

#map-container
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url( '../../assets/images/placeholder/gmap-400.jpg' );
	background-image: url( '../../assets/images/placeholder/gmap-400.webp' );
	@media screen and (min-width: 600px)
		background-image: url( '../../assets/images/placeholder/gmap-800.jpg' );
		background-image: url( '../../assets/images/placeholder/gmap-800.webp' );

	#map
		height: 450px;
		background-color: transparent;
