// Map
#map-container
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url( '../../assets/images/placeholder/gmap-400.jpg' );
	background-image: url( '../../assets/images/placeholder/gmap-400.webp' );
	@media screen and (min-width: 700px)
		background-image: url( '../../assets/images/placeholder/gmap-800.jpg' );
		background-image: url( '../../assets/images/placeholder/gmap-800.webp' );

	#map
		background-color: transparent;
