// Navigation
// Footer && Nav
nav
	padding: 8px;
	height: auto;
	min-height: 80px;
	h1
		a
			display: block;
nav,
#footer
	background-color: #333;
	color: white;

#breadcrumb
	background-color: darken( $primary-color, 23% );
	width: 100%;
	li
		color: white;
		a
			text-decoration: underline;
			&,
			&:hover,
			&:active
				color: white;

#footer
	a
		color: $accent-color;
