// Overrides
#maincontent
	min-height: 100%;
	background-color: #ecf0f1;

nav,
.filter-options
	align-items: center;

.filter-options
	height: auto;
	padding-top: 10px;
	background-color: darken( $primary-color, 23% );
